<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>blog posts list</h1>
    # {% comment %} <!-- {% for post in object_list %} --> {% endcomment %}

    context_object_name = 'posts'
    {% for post in posts %}
      <div>
        <h2>
          <p>{{ post.title }}</p>
          <p>{{ post.content }}</p>
        </h2>
      </div>
    {% endfor %}
  </body>
</html>
