<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{object.title}}</h1>
    <hr>
    -----------------------------------------------------------------------------------------------------------
    <div>
        <h1>{{ object.title }}</h1>
        <p>{{ object.content }}</p>
        <strong>{{ object.created_date }}</strong>
        <h1>{{ object.created_date }}</h1>
        <h2>{{ object.author }}</h2>
        <h3>{{ object.category }}</h3>
        <h4>{{ object.published_date }}</h4>
    </div>
</body>
</html>